.speech-bubble {
	position: relative;
	background: #ffe0e0;
	border-radius: .4em;

  font-family: Impact, Charcoal, sans-serif;
  font-size: 20px;
  margin-left: 15px;
  padding: 5px;
  box-shadow: 1px 2px #888888;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-top-color: #ffe0e0;
	border-bottom: 0;
	border-left: 0;
	margin-left: 20.5px;
	margin-bottom: -35px;
}
